# Docker Compose configuration for Cheddar-cr

services:
  traefik:
    image: traefik:v3.5
    command:
      - "--api.dashboard=true"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
    ports:
      - 80:80
      - 8080:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  data-collector:
    build: ./data-collector
    container_name: data-collector
    env_file:
      - ./data-collector/.env
    labels:
      - "traefik.enable=true"

      # Router normal
      - "traefik.http.routers.collector-api.rule=Host(`cr.localhost`) && PathPrefix(`/collector`)"
      - "traefik.http.routers.collector-api.middlewares=strip-collector"
      - "traefik.http.routers.collector-api.service=collector-api"
      - "traefik.http.services.collector-api.loadbalancer.server.port=5000"
      - "traefik.http.middlewares.strip-collector.stripprefix.prefixes=/collector"

      # Router Swagger UI
      - "traefik.http.routers.collector-swagger.rule=Host(`cr.localhost`) && PathPrefix(`/collector/apidocs`)"
      - "traefik.http.routers.collector-swagger.service=collector-api"
      - "traefik.http.routers.collector-static.rule=Host(`cr.localhost`) && PathPrefix(`/collector/flasgger_static`)"
      - "traefik.http.routers.collector-static.service=collector-api"

  meta-collector:
    build: ./meta-monitor
    container_name: meta-monitor
    labels:
      - "traefik.enable=true"

      # Router normal
      - "traefik.http.routers.monitor-api.rule=Host(`cr.localhost`) && PathPrefix(`/monitor`)"
      - "traefik.http.routers.monitor-api.middlewares=strip-monitor"
      - "traefik.http.routers.monitor-api.service=monitor-api"
      - "traefik.http.services.monitor-api.loadbalancer.server.port=5001"
      - "traefik.http.middlewares.strip-monitor.stripprefix.prefixes=/monitor"

      # Router Swagger UI
      - "traefik.http.routers.monitor-swagger.rule=Host(`cr.localhost`) && PathPrefix(`/monitor/apidocs`)"
      - "traefik.http.routers.monitor-swagger.service=monitor-api"
      - "traefik.http.routers.monitor-static.rule=Host(`cr.localhost`) && PathPrefix(`/monitor/flasgger_static`)"
      - "traefik.http.routers.monitor-static.service=monitor-api"

  mcp-server:
    build:
      context: ./ai-processor
      dockerfile: Dockerfile.mcp
    container_name: mcp_server
    working_dir: /app
    command: python -m app.mcp_core.mcp_server --server_type sse
    ports:
      - "8000:8000"
    volumes:
      - ./ai-processor:/app
    restart: unless-stopped
networks:
  backend:
    driver: bridge
